{% extends 'merma/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-11 col-md-4 mx-auto mt-5">
        <h1>Iniciar Sesión</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary">Ingresar</button>
        </form>
        <div class="pt-3">
            <small class="text-muted">Necesita una cuenta? <a href="{% url 'registro' %}" class="ml-2">Crear
                    Cuenta</a></small>
        </div>
    </div>
</div>

{% csrf_token %}
{% endblock content %}