<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Gestor de Inventario</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"
                        onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Cerrar
                        Sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ingresar' %}">Ingresar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<form id="logout-form" method="post" action="{% url 'cerrar-sesion' %}" style="display: none;">
    {% csrf_token %}
</form>